// Animations

.bodybag {
  @include trans(opacity);

  &.fade-out {
    opacity: 0;
  }
}

@keyframes mapDrawOutline {
  from {
    stroke-dashoffset: 2020;
  }
  to {
    stroke-dashoffset: 0;
  }
}
