// Footer

.footer {
  padding: 8rem 0;
  font-size: 0.8rem;
  line-height: 1.4em;
  border-top: 1px solid rgba($color-light-grey, 0.5);

  &-copy {
    position: relative;
    
    + .footer-copy {
      margin-top: 5em;
    }
  }

  a:hover {
    color: rgba($color-link, 0.8);
  }
  
  p {
    margin: 0;
    text-align: center;

    & + p {
      margin-top: 0.5em;
    }
  }

  &-logo {
    position: absolute;
    right: $space;
    top: 50%;
    margin-top: -60px;
  }
}
