// Header

.header {
  position: fixed;
  width: 100%;
  padding-top: 10px;
  transform: translateZ(0);
  backface-visibility: hidden;
  z-index: 10;

  &-menu {
    @extend %clearfix;

    margin: 0;

    &-item {
      position: relative;
      display: block;
      margin: 0;
      float: none;

      @include bp-medium() {
        display: inline-block;
        float: left; 
      }

      &-link {
        position: relative;
        display: block;
        margin: 0 2em;
        padding: 0.8em 0;
        font-family: $font-oswald;
        font-size: 0.9em;
        font-weight: 400;
        text-decoration: none;
        text-transform: uppercase;
        color: $color-white;
        z-index: 2;

        @include bp-medium() {
          margin: 0 1em;
          padding: 0;
        }

        &:after {
          display: none;
        }

        span {
          position: relative;
          display: inline-block;

          &:after {
            @extend %after-link;

            width: 0;
          }
        }

        &:hover {
          span:after {
            width: 100%;
          }
        }

        &:hover {
          + .header-menu--submenu {
            left: 0;
            opacity: 1;
          }
        }
      }

      &.current-menu-item > .header-menu-item-link span:after {
        width: 100%;
      }
    }

    &--bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(../assets/images/home-hills.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center top;
      z-index: -2;
      opacity: 0;

      @include bp-medium() {
        background-position: center top -160px;
      }

      .no-hero:not(.page-products) & {
        opacity: 1 !important;
      }

      .scrolled & {
        @include bp-medium() {
          @include trans(opacity);

          opacity: 1;
        }
      }
    }

    &--submenu {
      @include trans(opacity);

      min-width: 100%;
      margin: 0;
      padding: 0 3em;
      background-color: $color-brown;
      z-index: 1;

      @include bp-medium() {
        position: absolute;
        left: -9999px;
        top: 100%;
        padding: 1em;
        opacity: 0;
      }

      &:before {
        content: 'Products';
        position: absolute;
        left: 0;
        top: -2.5em;
        width: auto;
        height: 2.5em;
        padding: 0 1em;
        font-family: $font-oswald;
        font-size: 0.9em;
        font-weight: 400;
        text-transform: uppercase;
        background-color: $color-brown;
        z-index: 0;
      }

      &:hover {
        left: 0;
        opacity: 1;
      }

      &-item {
        width: 100%;

        &-link {
          margin: 0;
          text-transform: none;

          &:after {
            display: none;
          }

          span {
            position: relative;
            display: inline-block;

            &:after {
              @extend %after-link;

              width: 0;

              .header-menu--submenu-item.current-menu-item & {
                width: 100%;
              }
            }
          }

          &:hover {
            span:after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &-logo {
    display: inline-block;
    width: 120px;
    vertical-align: middle;

    @include bp-medium() {
      width: auto;
    }

    &-link {
      display: block;
      position: relative;

      &:after {
        display: none;
      }

      &:hover {
        color: $color-yellow-blank;

        .header-logo-outside {
          transform: rotate(360deg);
        }
      }
    }

    &-outside {
      @include trans(transform, 3s);

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transform: rotate(0deg);
    }
  }
}
