// Header

.header {
  position: fixed;
  width: 100%;
  transform: translateZ(0);
  backface-visibility: hidden;
  z-index: 10;

  &-menu {
    @extend %clearfix;

    margin: 0;

    &-item {
      display: inline-block;
      margin: 0;
      float: left;

      &-link {
        padding: 0 1rem;
      }
    }
  }

  &-logo {
    display: inline-block;
    vertical-align: middle;

    &-link {
      display: block;
      position: relative;

      &:hover {
        .header-logo-outside {
          transform: rotate(360deg);
        }
      }
    }

    &-outside {
      @include trans(transform, 3s);

      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transform: rotate(0deg);
    }
  }
}
