// Hero

.hero {
  height: 100vh;
  overflow: hidden;
  color: $color-white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.9);

  .logged-in & {
    height: calc(100vh - #{$admin-bar-h});
  }

  .page-template-page-contact-us &,
  .page-template-page-about-us &,
  .page-template-page-product & {
    height: 80vh;
  }

  .owl-carousel,
  .owl-wrapper-outer, 
  .owl-wrapper,
  .owl-item {
    height: 100%;
  }

  .owl-item {
    overflow: hidden;

    &--bg {
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      backface-visibility: hidden;
    }

    img {
      display: none !important;
    }
  }

  .owl-prev,
  .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  .owl-prev {
    left: $space;
  }

  .owl-next {
    right: $space;
  }

  &-heading {
    position: absolute;
    top: 50%;
    right: $space;
    transform: translate3d(0,-50%,0);
    text-align: right;
    backface-visibility: hidden;

    @include bp-medium() {
      left: 50%;
      right: auto;
    }

    .page-template-page-product & {
      width: 100%;
      left: 0;
    }
  }

  &-title {
    font-size: 2.5rem;
    line-height: 1;

    @include bp-xlarge() {
      font-size: 5rem;
    }

    span {
      display: block;
    }

    .page-template-page-product & {
      @extend .hero-video--title;
    }
  }

  &-subtitle {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0.2rem;
    font-size: 0.91rem;
    font-weight: 400;

    .page-template-page-product & {
      @extend .hero-video--subtitle;

      right: 0;
    }
  }

  &-map {
    width: 120px;
    stroke-dasharray: 2020;
    stroke-dashoffset: 2020;

    @include bp-xlarge() {
      width: 180px;
    }

    circle {
      @include trans(opacity, 0.3s, 4.5s, ease-in-out);

      opacity: 0;
    }

    &.animate {
      .cls-1 {
        animation: mapDrawOutline 4.5s ease-in-out forwards;
      }
      
      .cls-3 {
        animation: mapDrawOutline 2.5s 4.5s ease-in-out forwards;
      }

      circle {
        opacity: 1;
      }
    }

    &--wrapper {
      position: absolute;
      top: -2em;
      right: 100%;
      transform: translate3d(1.5em,0,0);

      @include bp-xlarge() {
        top: -1em;
        transform: translate3d(3.5em,0,0);
      }
    }
  }

  &-video {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
      min-width: 100%; 
      min-height: 110%; 
      width: auto;
      height: auto;
    }

    &--subtitle,
    &--title {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      font-size: 3em;
      text-align: center;
      color: $color-white;
      z-index: 1;

      @include bp-medium() {
        font-size: 6em;
      }
    }

    &--subtitle {
      top: 60%;
      font-size: 1.2em;
      font-family: $font-sansserif;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.2em;
    }
  }
}
