// Layout

.c-container {
  max-width: $bp-large;
  margin: 0 auto;
  padding: 0 $space;

  &-full {
    max-width: $bp-full;
  }

  &-half {
    max-width: $bp-full / 2;
    margin: 0;
  }

  &-text {
    max-width: $bp-medium;

    &-narrow {
      max-width: $bp-medium - 308;
    }
  }

  &--content {
    padding-top: 5em;
    padding-bottom: 5em;

    .no-hero .content-wrapper > & {
      padding-top: 16.5em;
    }
    
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
