// Loader

.loader {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  &.show {
    display: block;
  }

  &-home {
    background-color: $color-white;

    &-logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }

  &-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 40px;
    height: 40px;
    background-color: #333;
    border-radius: 100%;  
    animation: spinner 1.0s infinite ease-in-out;
  }
}

@keyframes spinner {
  0% { 
    transform: scale(0);
  } 

  100% {
    transform: scale(1.0);
    opacity: 0;
  }
}
