<div class="c-container c-container-full">
  <div class="footer-copy">
    <p>Contact at: <a href="mailto:info@1000hillsproducts.com">info@1000hillsproducts.com</a></p>
    <p><a href="/contact-us">Detailed contact page</a></p>
  </div>
  <div class="footer-copy">
    <p>Copyright &copy; {{"now"|date('Y')}}</p>
    <p>1000 Hills Products&reg;</p>

    <img src="{{ assetPath('assets/images/logo-full-bw.png') }}" alt="logo 1000 hills products black and white" class="footer-logo" width="120" height="115">
  </div>
</div>
