<div class="c-container c-container-full">
  <div class="footer-copy">
    <p>Contact at: <a href="mailto:info@1000hillsproducts.com">info@1000hillsproducts.com</a></p>
    <p><a href="/contact-us">Detailed contact page</a></p>
  </div>
  <div class="footer-copy">
    <p>Copyright &copy; {{"now"|date('Y')}}</p>
    <p>1000 Hills Products&reg;</p>

    <img src="{{ assetPath('assets/images/logo-full-bw.png') }}" alt="logo 1000 hills products black and white" class="footer-logo" width="120" height="115">
  </div>
  <div class="fb-widget">
    <div class="fb-page" data-href="https://www.facebook.com/1000-Hills-Products-955770311140647/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-height="360"><blockquote cite="https://www.facebook.com/1000-Hills-Products-955770311140647/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/1000-Hills-Products-955770311140647/">1000 Hills Products</a></blockquote></div>
  </div>
</div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.8&appId=619543384878511";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>