// Reviews page

.page-reviews {
  &--section {
    padding-top: 11.5em;
  }

  &--list {
    margin: 0;
    list-style: none;

    &-item {
      position: relative;
      margin: 0;
      padding-top: 3em;
      
      &:nth-child(even) {
        background-color: $color-brown;
        color: $color-white;
      }

      .c-container {
        position: relative;
        padding-bottom: 1em;
        overflow: hidden;

        &:after {
          content: '';
          position: absolute;
          left: -2em;
          right: -2em;
          bottom: 0;
          height: 1px;
          background-color: rgba($color-border, 0.5);
        }
      }

      &:last-of-type {
        .c-container:after {
          display: none;
        }
      }
    }
  }
}
