// Links

a {
  @include trans(color);

  position: relative;
  color: $color-link;
  text-decoration: none;
  padding-bottom: 0.2em;

  &:after {
    @extend %after-link;
  }

  &:hover {
    color: $color-light-grey;

    &:after {
      width: 0;
    }
  }
}

%after-link {
  @include trans(width);

    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0.1em;
    background-color: currentColor;
}
