// Review item

.review-item {
  display: block;
  padding-left: 2.5em;

  blockquote {
    p:not(.review-item--reviewer) {
      font-style: italic;
      font-size: 1.1em;

      @include bp-medium() {
        font-size: 1.5em;
      }
    }

    cite {
      display: block;
      text-align: right;

      p {
        font-size: 1em;

        &:before {
          content: '—';
          margin-right: 0.5em;
        }
      }

      span {
        font-size: 0.85em;
      }
    }
  }

  &--logo {
    width: auto;
    height: 65px;
  }
}
