{% extends "layouts/base.twig" %}

{% block content %}
<section id="content" role="main" class="content-wrapper">
  <div class="product-section">
    <div class="c-container c-container-text">
      {{ post.content }}
    </div>
  </div>
</section>
{% endblock %}
