// Colors
$color-white: #fff;
$color-yellow-blank: #efefe3;
$color-black: #000;
$color-light-grey: #ccc;
$color-brown: #5a3016;

// Text
$color-bg: $color-white;
$color-text: $color-brown;

// Links
$color-link: $color-text;

// Borders
$color-border: $color-light-grey;
