@font-face {
  font-family: 'ajenson-bold';
  src: url('../assets/fonts/AJensonPro-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ajenson-regular';
  src: url('../assets/fonts/AJensonPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
