// Settings global

// Font definitions
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700|Playfair+Display:400,400i,700,700i,900,900i|Sacramento|Suez+One|Trocchi');

$font-ajenson: 'ajenson-regular', 'Playfair Display', serif;
$font-ajenson-bold: 'ajenson-bold', 'Playfair Display', serif;
$font-oswald: 'Oswald', sans-serif;
$font-serif: $font-ajenson;
$font-sansserif: $font-oswald;

// Breakpoints
$bp-small: 320px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xlarge: 1240px;
$bp-full: 1600px;

// Spacing
$space: 20px;
$admin-bar-h: 32px;
